<template>
    <div class="container departments">

        <!-- Confirm modal -->
        <sweet-modal icon="warning" ref="confirm">
            <p>
                Удалить <strong>{{ message }}</strong>?
            </p>
            <div class="col-sm-12">
                <button class="btn btn-danger" @click="destroy(deleteId)">Удалить</button>
                <button class="btn btn-default" @click="confirmClose">Отмена</button>
            </div>
        </sweet-modal>
        <!--/ Confirm modal -->

        <!-- Success modal -->
        <sweet-modal icon="success" ref="success">
            {{ message }}
        </sweet-modal>
        <!--/ Success modal -->

        <!-- Warning modal -->
        <sweet-modal icon="warning" ref="warning">
            {{ message }}
        </sweet-modal>
        <!--/ Warning modal -->

        <div class="row">
            <div v-if="!loading" class="col-sm-12">
                <h1 class="text-center">Список отделов</h1>
                <div class="departments--add-btn">
                    <router-link to="/department-create" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>&nbsp;&nbsp;Добавить отдел
                    </router-link>
                </div>
                <div v-if="departments.length > 0" class="table-responsive departments--table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Название отдела</th>
                                <th class="text-center">Количество сотрудников отдела</th>
                                <th class="text-center">Максимальная заработная плата среди сотрудников отдела</th>
                                <th class="text-center">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="department in departments">
                                <td class="text-center">{{ department.name }}</td>
                                <td class="text-center">{{ department.employees.length }}</td>
                                <td class="text-center">
                                    <span v-if="department.employees.length > 0">
                                        {{ department.employees[0].wage }} &#8381;
                                    </span>
                                </td>
                                <td class="text-center">
                                    <router-link :to="{ name: 'DepartmentEdit', params: { id:department.id } }"
                                                 class="btn btn-primary"
                                                 title="Редактировать">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </router-link>
                                    <button @click="destroyConfirm(department.id, department.name)"
                                            class="btn btn-danger"
                                            title="Удалить">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <p class="text-center">
                        Список отделов пуст
                    </p>
                </div>
            </div>
            <div v-else>
                <p class="text-center">Загружаю..</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { get, del } from '../helpers/api'
    import { SweetModal } from 'sweet-modal-vue'

    Vue.use(SweetModal);

    export default {
        data: function () {
            return {
                departments: [],
                loading: true,
                message: '',
                deleteId: 0,
            }
        },
        created: function () {
            this.getDepartmentsData ();
        },
        methods: {
            getDepartmentsData () {
                // Get Departments Data
                get('/api/departments')
                    .then((response) => {
                        if (response.data.error) {
                            this.loading = false;
                            return false;
                        }
                        this.departments = response.data.responseData;
                        this.loading = false;
                    })
                    .catch(error => {
                        if (error.response) {
                            this.loading = false;
                            return false;
                        }
                    });
            },
            destroyConfirm (id, name) {
                this.deleteId = id;
                this.confirmOpen(name);
            },
            destroy (id) {
                // Close Confirm modal
                this.$refs.confirm.close();
                // Send Request for Remove Department
                del('/api/departments/' + id)
                    .then((response) => {
                        if(response.data.error) {
                            this.message = response.data.responseMessage;
                            this.warning();
                            return false;
                        }
                        this.getDepartmentsData();
                        this.message = response.data.responseMessage;
                        this.success();
                    })
                    .catch(error => {
                        if (error.response) {
                            this.message = 'Не Удалось удалить данные отдела продаж';
                            this.warning();
                            return false;
                        }
                    });
            },
            confirmOpen: function (name) {
                this.message =  name;
                this.$refs.confirm.open()
            },
            confirmClose: function () {
                this.$refs.confirm.close();
            },
            success: function () {
                this.$refs.success.open()
            },
            warning: function () {
                this.$refs.warning.open()
            }
        },
        components: {
            SweetModal
        }
    }
</script>