<template>
    <div class="container departments-create">

        <!-- Success modal -->
        <sweet-modal icon="success" ref="success">
            {{ message }}
        </sweet-modal>
        <!--/ Success modal -->

        <!-- Warning modal -->
        <sweet-modal icon="warning" ref="warning">
            {{ message }}
        </sweet-modal>
        <!--/ Warning modal -->

        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Новый отдел</h1>
                <div>
                    <router-link to="/departments">&larr; Редактирование данных отдела</router-link>
                </div>
                <br>
                <div class="jumbotron">
                    <p class="departments-create--text-help text-center">
                        <span class="required"></span> - Помечены поля, обязательные для заполнения
                    </p>
                    <form @submit.prevent="validate" class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label required">Название отдела:</label>
                            <div class="col-sm-10">
                                <input v-validate="'required|min:3|max:255'"
                                       v-model="form.name"
                                       :class="{ 'error': errors.has('name') }"
                                       data-vv-as="Название отдела:"
                                       type="text"
                                       name="name"
                                       class="form-control"
                                       placeholder="Введите название отдела.."
                                       id="name">
                                <span v-show="errors.has('name')" class="error">{{ errors.first('name') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" :class="{'disabled': buttonDisabled}" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import { post, get, put } from '../helpers/api'
    import ru from 'vee-validate/dist/locale/ru'
    import VeeValidate, { Validator } from 'vee-validate'
    import { SweetModal } from 'sweet-modal-vue'

    Validator.localize('ru', ru);

    Vue.use(VeeValidate, {
        locale: 'ru',
        delay: 0,
    });
    Vue.use(SweetModal);

    export default {
        data: function () {
            return {
                form: {
                    name: '',
                },
                loading: true,
                message: '',
                buttonDisabled: false
            }
        },
        created: function () {
            this.getDepartment ()
        },
        methods: {
            validate () {
                this.$validator.validateAll().then(result => {
                    // Data is not valid
                    if ( ! result) return false;

                    // Disabled Button
                    this.buttonDisabled = true;

                    // Save Data
                    put('/api/departments/' + this.$route.params.id, this.form)
                        .then((response) => {
                            if (response.data.error) {
                                this.message = response.data.responseMessage;
                                this.warning();
                                return false;
                            }
                            this.loading = false;
                            this.message = response.data.responseMessage;
                            this.buttonDisabled = false;
                            this.success();
                        })
                        .catch(error => {
                            if (error.response) {
                                return false;
                            }
                        });
                });
            },
            success: function () {
                this.$refs.success.open()
            },
            warning: function () {
                this.$refs.warning.open()
            },
            // Request Departments
            getDepartment () {
                get('/api/departments/' + this.$route.params.id + '/edit')
                    .then((response) => {
                        if(response.data.error) {
                            this.message = response.data.responseMessage;
                            this.loading = false;
                            this.warning();
                            return false;
                        }
                        this.form.name = response.data.responseData.name;
                        this.loading = false;
                    })
                    .catch(error => {
                        if (error.response) {
                            this.loading = false;
                            return false;
                        }
                    });
            }
        },
        components: {
            SweetModal
        }
    }
</script>