<template>
    <div class="container employees-create">
        <div class="row">
            <!-- Success modal -->
            <sweet-modal icon="success" ref="success">
                {{ message }}
            </sweet-modal>
            <!--/ Success modal -->

            <!-- Warning modal -->
            <sweet-modal icon="warning" ref="warning">
                {{ message }}
            </sweet-modal>
            <!--/ Warning modal -->

            <div class="col-sm-12">
                <h1 class="text-center">Новый сотрудник</h1>
                <div>
                    <router-link to="/employees">&larr; Список сотрудников</router-link>
                </div>
                <br>
                <div class="jumbotron">
                    <p class="employees-create--text-help text-center">
                        <span class="required"></span> - Помечены поля, обязательные для заполнения
                    </p>
                    <form @submit.prevent="validate" class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label required">Имя:</label>
                            <div class="col-sm-10">
                                <input v-validate="'required|min:3|max:25'"
                                       v-model="form.name"
                                       :class="{ 'error': errors.has('name') }"
                                       data-vv-as="Имя:"
                                       type="text"
                                       name="name"
                                       class="form-control"
                                       placeholder="Введите Имя сотрудника.."
                                       id="name">
                                <span v-show="errors.has('name')" class="error">{{ errors.first('name') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surname" class="col-sm-2 control-label required">Фамилия:</label>
                            <div class="col-sm-10">
                                <input v-validate="'required|min:3|max:25'"
                                       v-model="form.surname"
                                       :class="{ 'error': errors.has('surname') }"
                                       data-vv-as="Фамилия:"
                                       type="text"
                                       name="surname"
                                       class="form-control"
                                       placeholder="Введите Фамилию сотрудника.."
                                       id="surname">
                                <span v-show="errors.has('surname')" class="error">{{ errors.first('surname') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="patronymic" class="col-sm-2 control-label">Отчество:</label>
                            <div class="col-sm-10">
                                <input v-validate="'min:3|max:25'"
                                       v-model="form.patronymic"
                                       :class="{ 'error': errors.has('patronymic') }"
                                       data-vv-as="Отчество:"
                                       type="text"
                                       name="patronymic"
                                       class="form-control"
                                       placeholder="Введите Отчество сотрудника.."
                                       id="patronymic">
                                <span v-show="errors.has('patronymic')" class="error">{{ errors.first('patronymic') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-2 control-label">Пол:</label>
                            <div class="col-sm-10">
                                <select v-model="form.sex"
                                        name="sex"
                                        id="sex"
                                        class="form-control">
                                    <option value="0">Не указан</option>
                                    <option value="1">Мужской</option>
                                    <option value="2">Женский</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="wage" class="col-sm-2 control-label">Заработная плата:</label>
                            <div class="col-sm-10">
                                <input v-validate="'numeric'"
                                       v-model="form.wage"
                                       :class="{ 'error': errors.has('wage') }"
                                       data-vv-as="Заработная плата:"
                                       type="text"
                                       name="wage"
                                       class="form-control"
                                       placeholder="Введите заработная плату сотрудника.."
                                       id="wage">
                                <span v-show="errors.has('wage')" class="error">{{ errors.first('wage') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="department_id" class="col-sm-2 control-label required">Отделы:</label>
                            <div class="col-sm-10">
                                <select v-validate="'required'"
                                        v-model="form.department_id"
                                        :class="{ 'error': errors.has('department_id') }"
                                        data-vv-as="Отделы:"
                                        name="employee_id"
                                        id="department_id"
                                        class="form-control"
                                        multiple>
                                    <option v-for="department in departments" :value="department.id">{{ department.name }}</option>
                                </select>
                                <span v-show="errors.has('department_id')" class="error">{{ errors.first('department_id') }}</span>
                                <div>Для выбора нескольких отделов <code>ctrl + ЛКМ</code></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" :class="{'disabled': loading}" class="btn btn-success">Добавить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import { get, post } from '../helpers/api'
    import ru from 'vee-validate/dist/locale/ru'
    import VeeValidate, { Validator } from 'vee-validate'
    import { SweetModal } from 'sweet-modal-vue'

    Validator.localize('ru', ru);

    Vue.use(VeeValidate, {
        locale: 'ru',
        delay: 0,
    });
    Vue.use(SweetModal);

    export default {
        data: function () {
            return {
                form: {
                    name: '',
                    surname: '',
                    patronymic: '',
                    sex: 0,
                    wage: '',
                    department_id: []
                },
                departments: {},
                message: '',
                loading: false
            }
        },
        created: function () {
            get('/api/departments')
                .then((response) => {
                   if(response.data.error) {
                       return false;
                   }

                    this.departments = response.data.responseData;
                })
                .catch(error => {
                    if (error.response) {
                        return false;
                    }
                });
        },
        methods: {
            validate () {
                this.$validator.validateAll().then(result => {
                    // Data is not valid
                    if ( ! result) return false;

                    // Disabled Button
                    this.loading = true;

                    // Remove Empty fields
                    if (this.form.patronymic === '')
                        delete this.form.patronymic;

                    if (this.form.wage === '')
                        delete this.form.wage;

                    // Save Data
                    post('/api/employees', this.form)
                        .then((response) => {
                            if (response.data.error) {
                                this.message = response.data.responseMessage;
                                this.warning();
                                return false;
                            }
                            this.clearForm();
                            this.message = response.data.responseMessage;
                            this.success();
                            this.loading = false;
                        })
                        .catch(error => {
                            if (error.response) {
                                return false;
                            }
                        });
                });
            },
            // Clear Form
            clearForm: function () {
                this.form.name = '';
                this.form.surname = '';
                this.form.patronymic = '';
                this.form.sex = 0;
                this.form.wage = '';
                this.form.department_id = [];
                setTimeout(() => {
                    this.errors.clear();
                }, 1);
            },
            success: function () {
                this.$refs.success.open()
            },
            warning: function () {
                this.$refs.warning.open()
            }
        },
        components: {
            SweetModal
        }
    }
</script>