<template>
    <div class="container employees">

        <!-- Confirm modal -->
        <sweet-modal icon="warning" ref="confirm">
            <p>
                Удалить сотрудника <strong>{{ message }}</strong>?
            </p>
            <div class="col-sm-12">
                <button class="btn btn-danger" @click="destroy(deleteId)">Удалить</button>
                <button class="btn btn-default" @click="confirmClose">Отмена</button>
            </div>
        </sweet-modal>
        <!--/ Confirm modal -->

        <!-- Success modal -->
        <sweet-modal icon="success" ref="success">
            {{ message }}
        </sweet-modal>
        <!--/ Success modal -->

        <!-- Warning modal -->
        <sweet-modal icon="warning" ref="warning">
            {{ message }}
        </sweet-modal>
        <!--/ Warning modal -->

        <div class="row">
            <div v-if="!loading" class="col-sm-12">
                <h1 class="text-center">Список сотрудников</h1>
                <div class="employees--add-btn">
                    <router-link :to="{ name: 'employeeCreate' }" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>&nbsp;&nbsp;Добавить сотрудника
                    </router-link>
                </div>
                <div v-if="employees.length > 0"
                     class="table-responsive employees--table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Имя</th>
                            <th class="text-center">Фамилия</th>
                            <th class="text-center">Отчество</th>
                            <th class="text-center">Пол</th>
                            <th class="text-center">Заработная плата</th>
                            <th class="text-center">Отделы</th>
                            <th class="text-center">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="employee in employees">
                                <td class="text-center">{{ employee.name }}</td>
                                <td class="text-center">{{ employee.surname }}</td>
                                <td class="text-center">{{ employee.patronymic }}</td>
                                <td class="text-center">
                                    <span v-if="employee.sex === 0">Не указано</span>
                                    <span v-else-if="employee.sex === 1">Мужской</span>
                                    <span v-else="employee.sex === 2">Женский</span>
                                </td>
                                <td class="text-center">{{ employee.wage }}
                                    <span v-if="employee.wage">&#8381;</span>
                                </td>
                                <td class="text-center">
                                    <span v-for="(department, idx) in employee.departments">{{ department.name }}<span v-if="employee.departments.length > idx + 1">, </span></span>
                                </td>
                                <td class="text-center">
                                    <router-link :to="{ name: 'employeeEdit', params: { id: employee.id } }"
                                                 class="btn btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </router-link>
                                    <button @click="destroyConfirm(employee.id, employee.name, employee.surname)"
                                            class="btn btn-danger"
                                            title="Удалить">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <p class="text-center">
                        Список сотрудников пуст
                    </p>
                </div>
            </div>
            <div v-else>
                <p class="text-center">Загружаю..</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { get, del } from '../helpers/api'
    import { SweetModal } from 'sweet-modal-vue'

    Vue.use(SweetModal);

    export default {
        data: function () {
            return {
                employees: [],
                loading: true,
                message: '',
                deleteId: 0,
            }
        },
        created: function () {
            this.getEmployeesData();
        },
        methods: {
            getEmployeesData () {
                // Get Employees Data
                get('/api/employees')
                    .then((response) => {
                        if(response.data.error) {
                            this.loading = false;
                            return false;
                        }
                        this.employees = response.data.responseData;
                        this.loading = false;
                    })
                    .catch(error => {
                        if (error.response) {
                            this.loading = false;
                            return false;
                        }
                    });
            },
            destroyConfirm (id, name, surname) {
                this.deleteId = id;
                this.confirmOpen(name, surname);
            },
            destroy (id) {
                // Close Confirm modal
                this.$refs.confirm.close();
                // Send Request for Remove Employee
                del('/api/employees/' + id)
                    .then((response) => {
                        if(response.data.error) {
                            this.message = response.data.responseMessage;
                            this.warning();
                            return false;
                        }
                        this.getEmployeesData();
                        this.message = response.data.responseMessage;
                        this.success();
                    })
                    .catch(error => {
                        if (error.response) {
                            this.message = 'Не Удалось удалить данные сотрудника';
                            this.warning();
                            return false;
                        }
                    });
            },
            confirmOpen: function (name, surname) {
                this.message =  name + ' ' + surname;
                this.$refs.confirm.open()
            },
            confirmClose: function () {
                this.$refs.confirm.close();
            },
            success: function () {
                this.$refs.success.open()
            },
            warning: function () {
                this.$refs.warning.open()
            }
        },
        components: {
            SweetModal
        }
    }
</script>