<template>
    <!-- Top Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <router-link :to="{ name: 'welcome' }" class="navbar-brand">
                    “Отделы” и “Сотрудники”
                </router-link>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <router-link tag="li" :to="{ name: 'welcome' }">
                        <a>Сетка</a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'departments' }">
                        <a>Отделы</a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'employees' }">
                        <a>Сотрудники</a>
                    </router-link>
                </ul>
            </div>
        </div>
    </div>
    <!--/ Top Navbar -->
</template>