<template>
    <div class="container welcome">
        <div class="row">
            <div v-if="!loading" class="col-sm-12">
                <div class="jumbotron">
                    <h1>“Отделы” и “Сотрудники”</h1>
                    <p>Веб-приложение позволяющее управлять отделами и сотрудниками предприятия, а так же просматривать их связи</p>
                </div>
                <div v-if="departments && employees" class="table-responsive welcome--table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th v-for="department in departments" class="text-center">{{ department.name }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="employee in employees">
                                <td>{{ employee.name }} {{ employee.surname }} {{ employee.patronymic }}</td>
                                <template v-for="department in departments">
                                    <td v-if="employeesDepartments[employee.id][department.id]" class="text-center">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </td>
                                    <td v-else class="text-center">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <p class="text-center">
                        Пока еще нет данных о отделах и сотрудниках
                    </p>
                </div>
            </div>
            <div v-else>
                <p class="text-center">Загружаю..</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { get } from '../helpers/api'

    export default {
        data: function () {
            return {
                employees_departments: [],
                employees: [],
                departments: [],
                employeesDepartments: [],
                loading: true,
            }
        },
        created: function () {
            // Get Departments and Employees
            get('/api/employees_departments')
                .then((response) => {
                    if(response.data.error) {
                        this.loading = false;
                        return false;
                    }
                    this.employees = response.data.responseData.employees;
                    this.departments = response.data.responseData.departments;
                    this.employeesDepartments = response.data.responseData.employees_department;
                    this.loading = false;
                })
                .catch(error => {
                    if (error.response) {
                        this.loading = false;
                        return false;
                    }
                });
        },
        methods: {
        }
    }
</script>