
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

[v-cloak] {
  display: none;
}

.router-link-exact-active {
  color: #555;
  background-color: #eee;
}
.router-link-exact-active.navbar-brand {
  background-color: #fff;
}
.welcome {
  .welcome--table {

    .table {
      margin-bottom: 0;
    }
  }
}
.departments {
  .departments--add-btn {
    padding-bottom: 15px;
  }
}
.departments-create {
  .departments-create--text-help {
    .required {
      padding-right: 10px;
    }
    font-size: 17px;
  }
}

.employees {
  .employees--add-btn {
    padding-bottom: 15px;
  }
}
.employees-create {
  .employees-create--text-help {
    .required {
      padding-right: 10px;
    }
    font-size: 17px;
  }
}

.required:after {
  display: inline-block;
  position: absolute;
  content: '*';
  color: red;
  font-size: 1.7em;
  margin-top: -7px;
}
span.error {
  color: red;
  padding-top: 5px;
}